@use "../../sass/variables.scss" as *;

.text-Projects {
    padding-top: 17px;
}


.MyProjects-cardblue {
    @include cardBlueProjects;

    &__text {
        @include cardBlueProjectsText;

        &__link {
            @include cardBlueProjectsLink;
        }

        .text-LinkWhite{
            color: white;
            text-decoration: none;
        }
    }
}


.MyProjects-cardwhite {
    @include cardWhiteProjects;

    .MyProjects-cardwhite__text {
        @include cardWhiteProjectsText;

        .MyProjects-cardwhite__text__link {
            @include cardWhiteProjectsLink;
        }

        .text-LinkBlue{
            color: #598AD5;
            text-decoration: none;
        }
    }
}

@media (max-width: 767px) {
    .MyProjects-cardblue {
        flex-direction: column;
        align-items: center;
        padding: 8px 30px;

        &__text {
            width: 100%;
        }
    }

    .MyProjects-cardwhite {
        flex-direction: column;
        align-items: center;
        padding: 8px 30px;

        .MyProjects-cardwhite__text {
            width: 100%;
        }
    }
}