.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.1% 5% 1.1% 2.6%;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.24);
    font-family: 'Nunito Sans';


}

.navbar-leftSide {

    a {
        font-size: 24px;
        font-weight: 600;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        color: black;
    }

}

.navbar-rightSide {
    width: 40%;
    padding-right: 5%;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;
            padding: 0% 5% 0% 5%;

            a {
                font-size: 20px;
                font-weight: 600;
                text-decoration: none;
                color: black;
            }

            button {
                font-size: 20px;
                font-weight: 600;
                color: black;
                border: 0;
                background-color: white;
                font-family: "Nunito Sans";
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-device-width: 480px) {
    .navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .navbar-leftSide {
        a {
            font-size: 20px;
        }
    }
    
    .navbar-rightSide {
        ul {
            li {
                a {
                    font-size: 18px;
                    button {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    }