.central {
    background: #598AD5;
}

.central-top {
    display: flex;

    .central-top__text {
        width: 70%;
        padding-top: 94px;

        &_h1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 96px;
            color: #FFFFFF;
            padding-left: 20%;
        }

        &_h3 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #FFFFFF;
            padding-left: 30%;
        }
    }

    .central-top__img {
        padding-top: 67px;
        padding-right: 5%;

        #imgFoto {
            width: 100%;
        }

    }
}

.central-mid {
    text-align: center;
    padding-top: 81px;

    &__h1 {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        color: #FFFFFF;
    }
}

.central-end {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 38px 48px 48px 48px;

    a:hover {
        filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.514));
    }

    .ImgCard {
        filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.514));
        width: 100%;
    }
}

@media only screen and (max-device-width: 480px) {
    .central-top {
        .central-top__text {
            &_h1 {
                font-size: 50px;
            }
        }
    }
}